{% extends 'music/base.html' %}
{% block title %}{{ user.username }}{% endblock %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container" style="background-color: white">
    <div class="row" style="margin:100px">
        <div class="media">
            <img class="rounded-circle account-img"  src="{{ user.profile.image.url }}">
            <div class="media-body">

                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>


    </div>
    </div>
{% endblock body %}